POSTGRES_DB=dbagent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5656

LLM_HOST_MODEL_PATH=/absolute/path/to/sqlcoder-7b-2
LLM_CONTAINER_MODEL_PATH=/models/defog/sqlcoder-7b-2
LLM_MODEL_NAME=sqlcoder-7b-2
LLM_DTYPE=bfloat16
LLM_GPU_MEMORY_UTILIZATION=0.6
LLM_PORT=8000
LLM_TENSOR_PARALLEL_SIZE=1
LLM_GPU_DEVICE_ID=0
